
	 html, body {
	     position: relative;
	     height: 100%; 
	 }
	 body {
	     background-color: green;
	     font-size: 120%;
	 }
	 
	 .swiper-container {
	     width: 100%;
	     height: 100%;
	     margin-left: auto;
	     margin-right: auto;
	 }
	 .swiper-slide {
	     text-align: center;
	     font-size: 120%;
	     background-color: rgba(255,255,255,0.7);

	     /* Center slide text vertically */
	     display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center; 
	 }


	 .first {}
	 .last {}
	 .next {}
	 .pre {}


	 #first-page {
	     background: url(../images/globe-image-1.png) center no-repeat;
	 }
	 .site-name {
	     font-size: 500%;
	     font-weight: bold;
	     color: white;
	     margin-top: 15%;
	     text-shadow: red -20px 0px 8px, yellow 20px 0px 5px;
	 }

	 .slogan {
	     font-size: 200%;
	     font-style: italic;
	     margin-top: 25px;
	     text-shadow: gold -20px 0px 8px, white 20px 0px 5px;
	 }

	 h2 {
	     font-size: 300%;
	     margin-top: 13%;
	 }
	 h3 {
	     font-size: 250%;
	 }

	 blockquote {
	     font-size: 150%;
	     background-color: rgba(255,255,255,0.1);
	     border: 1px solid rgba(255,255,255,0.5);
	     
	     padding: 20px;
	     border-left: 8px white solid;
	     
	 }

	 ul {

	 }
	 li {
	     display: inline-flex;
	     margin-left: -9px;
	     padding: 25px;
	     width: 25%;
	     height: 60px;
	     border: 1px solid rgba(255,255,255,0.2);
	     background-color: rgba(255,255,255,0.1);
	 }

	 li:hover {
	     background-color: rgba(0,255,0,0.2);
	 }

	 li a {
	     color: white;
	     text-decoration: none;
	 }

	 li a:hover {
	     color: gold;
	 }


	 .heng {
	     height: 3px;
	     width: 100%;
	     bottom: 15%;
	     left: 5%;
	     position: fixed;
	     background-color: black;
	 }
	 .shu {
	     width: 3px;
	     height: 100%;
	     top: 5%;
	     left: 8%;
	     position: fixed;
	     background-color: black;  
	 }

	 .hengming {
	     bottom: 15%;
	     left: 5%;
	     position: fixed;
	     color: black;
	 }
	 .shuming {
	     top: 5%;
	     left: 7%;
	     position: fixed;
	     color: black;
	 }
